/* Sintaxis

Selector{
propiedad:valor;
}

selectores:
- etiquetas
- id
- clase

si esta la id
pinta con id
si esta clase
pinta con clase
si esta etequeta
pinta con la etiqueta


*/
/* selector por etiqueta*/
/*
body{
    background: blueviolet;
}
*/
/*selector por clase*/
/*
.tituloRojo{
    color:red;
}

/*selector por id*/
/*
#subTitulo{
    color:yellowgreen;
}
*/
/*
#subMenu{
    color:red;
}

h2{
    text-align: center;
    color:hotpink;
}
*/

.bi{
    font-size: 6em;
}

.nav{
    background: rgb(170, 5, 170);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.nav-item{
    padding-right: 0.5em;
}



.nav-link:hover {
    background-color: rgb(47, 241, 222);
    color: rgb(8, 8, 8);
}

.carousel-item{
    height: 35em;
}

#carouselExampleCaptions{
    height: 35em;
    pading: 12em;
}

#Nosotros{
    margin-top: 1em;
}

.text-white{
    margin: 0 0 0 0;
}

.text-danger{
    color: rgb(241, 16, 148) !important;
    text-shadow: 0.1em 0.1em 0.1em rgb(5, 250, 229);
}

img {

    width: 100%;
    height: auto;
  
  }
  body{
    text-align: center;
    background-color: rgb(97, 232, 250);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body *{
    margin: 0;
    border: 0;
    padding: 0;
}

h1{
    font-size: 3em;
    margin-bottom: 1em;
    margin-top: 1em;
} 

h2{
    font-weight: 500;
}

nav {
    text-align: center;
    margin-bottom: 0;
    position: absolute;
    width: 100%;
    
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0.5em;
    padding: 0.5em;
}

img {
    width: 75%;
    height: auto;
}

section {
    margin-top: 1em;
   
}

footer {
    margin-top: 1em;
    background-color: rgb(124, 223, 253);
}
footer a{
    color: rgb(247, 0, 255);
    text-decoration: none;
}

footer i{
    margin: 0.5em;
}

footer p{
    text-align: center;
    color: white;
}

.imagenBruja {
    text-align: right;
    background-image: url('../img/odontopediatria_cecis.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(126,11,78);
    text-shadow: 0.15em 0.15em 0.15em slategrey;
    padding: 10em;
}

.menu {
    background: rgb(126,11,78);
    color: white;
}

.menu a{
    color: white;
    text-decoration: none;
}

.menu li:hover{
    background-color: turquoise;
}

.articulos{
    margin-bottom: 1em auto;
    margin: 1em;
}

.articulo{
    text-align: center;
    width: 30%;
    display: inline-block;
}

.articulo p{
    width: 75%;
}

.articulo h1{
    width: 75%;
}

